<div *ngIf="emailForm">
  <div [formGroup]="emailForm">
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="emailId">Email</label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="emailId"
          type="email"
          placeholder="Email (required)"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (emailForm.get('email')?.touched ||
                emailForm.get('email')?.dirty) &&
              !emailForm.get('email')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="emailForm.get('email')?.errors?.required">
            Please enter your email address.
          </span>
          <span *ngIf="emailForm.get('email')?.errors?.email">
            Please enter a valid email address.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="">Confirm Email</label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="confirmEmailId"
          placeholder="Confirm email (required)"
          formControlName="confirmEmail"
          [ngClass]="{
            'is-invalid':
              (emailForm.get('confirmEmail')?.touched ||
                emailForm.get('confirmEmail')?.dirty) &&
              !emailForm.get('confirmEmail')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="emailForm.get('confirmEmail')?.errors?.required">
            Please enter your email address.
          </span>
          <span *ngIf="emailForm.errors?.emailMatchError"> No match </span>
        </span>
      </div>
    </div>
  </div>
</div>
